@import 'components/navbar', 'components/footer', 'components/modal.scss', 'components/spinner.scss', 'components/breadcrumb.scss', 'components/formularios.scss';
@import 'views/index', 'views/adopciones.scss', 'views/animalDetalle.scss', 'views/donacion.scss', 'views/contacto.scss';

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}

body{
    overflow-x: hidden;
    font-family: $Typo;
    background-color: #F7F9FE;
}

main{
    padding: 104px 0px 0px 0px;
}

p, ul, ol{
    margin-bottom: 0;
}

input, select, textarea{
    border: solid 1px rgba($color: $primary-color, $alpha: 0.7);
    border-radius: 4px;
    padding-left: 1rem;
    outline: none;

    &:focus{
        border: solid 2px rgba($color: $primary-color, $alpha: 0.7);
    }
}

textarea{
    padding-top: 1rem;
}

select{
    background: url("../img/select-arrow.svg") no-repeat 95% 50%;
    background-size: .6rem;

    @include desktop(){
        &{
            background-position: 97% 50%;
        }
    }
}