main {
    .contacto {
        position: relative;

        .contacto-header {
            height: 30vh;
            background: url("/img/contacto-header.jpg") no-repeat center;
            background-size: cover;
            @include flexCenter(column, center);
            padding: 2rem;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($color: rgba($color: $primary-color, $alpha: 0.7), $alpha: 0.5);
                position: absolute;
            }

            .title {
                color: #fff;
                text-align: center;
                z-index: 1;

                span {
                    display: block;
                    font-size: 1.3rem;
                    margin-top: .5rem;
                }
            }

        }

        .form-contacto {
            padding: 0px 2rem;
            margin-top: 2rem;


            .btn-container {
                width: 100%;

                .enviar-btn {
                    width: 50%;
                }
            }

            .error-contacto {
                width: 100%;
                height: 75px;
                background-color: #dc3545;
                display: none;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                margin-top: 1rem;
                padding: 1rem;
                transition: height 0.2s ease-out;

                img {
                    height: 20px;
                    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(-86deg) brightness(150%) contrast(100%);
                    margin-right: .7rem;

                    svg {
                        fill: turquoise;
                    }
                }

                p {
                    color: #fff;
                    font-size: .8rem;
                    font-weight: 500;
                }
            }

            .error-activo {
                display: flex !important;

            }


            @include desktop() {

                .error-contacto {
                    display: flex;
                    height: 0;
                    transition: height 0.2s ease-out;
                    padding: unset;


                    p {
                        font-size: 1rem;
                    }
                }

                .error-activo {
                    height: 45px !important;
                }
            }

        }


        @include desktop() {
            & {
                .contacto-header {
                    height: 25vh;
                }

                .form-contacto {
                    padding: 0px 19rem;
                    margin-top: 4rem;

                    .contacto-inputs {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        .text-area {
                            grid-column: -1/1;
                        }
                    }

                    .btn-container {
                        .enviar-btn {
                            width: 30%;
                        }
                    }
                }
            }
        }

    }

}