.donacion-container {
    padding: 104px 0px 0px 0px;
    position: relative;


    .donacion {
        .donacion-header {
            @include flexCenter(column, center);
            margin-bottom: 2rem;
            height: 40vh;
            background: url("/img/donacion-header.jpg") no-repeat center;
            background-size: cover;
            position: relative;
            z-index: -1;

            h3 {
                color: #fff;
                text-align: center;

            }

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($color: rgba($color: $primary-color, $alpha: 0.7), $alpha: 0.5);
                position: absolute;
                z-index: -1;
            }

            @include desktop() {
                & {
                    height: 25vh;
                    grid-column: -1/1;
                    background-position: bottom;
                }
            }
        }

        .msj-mision {
            margin: 2rem 0;
            padding: 0px 2rem;
        }

        .form-donacion {
            padding: 0px 2rem;

            .metodo,
            .monto {

                input {
                    width: 15px;
                    height: 15px;
                    cursor: pointer;

                    &:checked+label {
                        font-weight: 700;
                        color: $secondary-color;
                    }
                }

                label {
                    margin-right: .5rem;
                    font-weight: 500;
                    cursor: pointer;
                }

                p {
                    color: $primary-color;
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }


        @include desktop() {

            .msj-mision,
            .form-donacion {
                padding: 0 19rem;
            }

        }
    }

}


#detalle-content {    
    padding: 0px 2rem;

    @include desktop(){
        &{
            padding: 0 19rem;
        }
    }

    .titulo {
        color: $primary-color;
        font-weight: 600;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .tipo-monto,
    .datos-donacion,
    .detalle-pago {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #a8a8a8;
            margin: 1rem 0;
        }

        span {
            font-size: 1.1rem;
            font-weight: 600;
        }
    }

    .home-btn {
        width: 200px;
        height: 48px;
        border: none;
        background-color: $secondary-color;
        border-radius: 8px;
        color: #ffff;
        padding: .7rem 1rem;
        margin-top: 2rem;
        transition: .2s ease-in;

        &:hover {
            font-weight: 600;
            transform: translateY(-2px);
            box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.2);
            transition: transform .2s ease-in;
        }
    }
}